<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Fonts/fonnts.com-recoleta-black.otf</string>
		<string>Fonts/fonnts.com-recoleta-bold.otf</string>
		<string>Fonts/fonnts.com-recoleta-light.otf</string>
		<string>Fonts/fonnts.com-recoleta-medium.otf</string>
		<string>Fonts/fonnts.com-recoleta-regular.otf</string>
		<string>Fonts/fonnts.com-recoleta-semibold.otf</string>
		<string>Fonts/fonnts.com-recoleta-thin.otf</string>
		<string>Fonts/fonnts.com-recoletaalt-black.otf</string>
		<string>Fonts/fonnts.com-recoletaalt-bold.otf</string>
		<string>Fonts/fonnts.com-recoletaalt-light.otf</string>
		<string>Fonts/fonnts.com-recoletaalt-medium.otf</string>
		<string>Fonts/fonnts.com-recoletaalt-regular.otf</string>
		<string>Fonts/fonnts.com-recoletaalt-semibold.otf</string>
		<string>Fonts/fonnts.com-recoletaalt-thin.otf</string>
	</array>
</dict>
</plist>
